@import "tailwindcss";

@theme {
  /* RESPONSYWNOŚĆ */
  --breakpoint-xs: 575px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;

  /* KOLORY */
  --color-background: #fff;
  --color-text-color: #00000080;
  --color-circle-color: #9e8f7b;
  --color-text-color-navigation: #566073;
  --color-text-color-navigation-dark: #333335;
}
